
body {
	font-size: 12px;
	line-height: 22px;
	font-family: arial, sans-serif;
	color: #000000;
	background: url(img/background.jpg) repeat 0 0;
	background-size: 100% 100%;
	
}
   .jumbotron {
   background: rgb(204, 204, 204); /* This is for ie8 and below */
   background: rgba(204, 204, 204, 0.5); 
}